.app_header {
    background: var(--primary-color) url('/assets/images/header_art.svg') no-repeat bottom right;
    padding: 60px 0px 20px;

    z-index: 9;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: sticky;
    top: 0;

    &.sticky-header {
        padding: 20px 15px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .app_logo {
            display: inline-flex;
        }
    }
}

.header_links {
    list-style: none;
    padding: 0;
    display: flex;
    color: var(--light-color);

    .btn {
        color: var(--light-color);
        background: rgba(255, 255, 255, 0.16);
        border-radius: 50%;
        height: 44px;
        font-size: 20px;
        width: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;

        &[aria-expanded="true"] {
            background: rgba(255, 255, 255, 1);

            svg {
                fill: var(--primary-color);
            }
        }

        svg {
            height: 30px;
            width: 30px;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
        }

        &:not(:last-child) {
            margin-right: 12px;
        }
    }
    li:last-child button{
        margin-right: 0;
    }
}


.download_app {
    background: rgba(255, 255, 255, 0.81);
    color: var(--primary-color);
    padding: 5px 10px 5px 20px;
    // max-width: 300px;
    position: fixed;
    top: 15px;
    right: 45px;
    z-index: 999999;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(177, 197, 224, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(7px);
    border: 2px solid #fff;
    font-size: 14px;
    display: flex;
    align-items: center;

    svg {
        margin-inline: 5px 0;
        cursor: pointer;
    }

    &::before {
        content: '';
        height: 20px;
        width: 20px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        display: block;
        position: absolute;
        top: -11px;
        left: 110px;
        transform: rotate(45deg);
        // background: rgba(255, 255, 255, 0.674);
        z-index: -1;
    }
}

@media(max-width:1920px) {
    .download_app {
        right: 30px;
    }
 
}
@media (max-width :492px){
    .app_header{
        padding: 40px 0px 20px;
    }
}