<!-- Add Merchant form -->
<div class="modal-wrap modal-xl add-vendor-modal" *ngIf="modalStatus">


    <div class="modal-main">
  
      <div class="modal-header">
        <h3 class="modal-heading">Add Merchant</h3>
        <button class="modal-close-btn" (click)="modalToggle()">x</button>
      </div>
  
      <div class="modal-content customised-form">
        <form #addVendorForm="ngForm" (ngSubmit)="submitForm(addVendorForm)">
          <div class="row row row-cols-1 row-cols-md-2">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Company Name</mat-label>
                <input type="text" matInput required name="company_name" [(ngModel)]="vendor.company_name" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Company Trading Name</mat-label>
                <input type="text" matInput required name="company_trading_name"
                  [(ngModel)]="vendor.company_trading_name" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Company Number</mat-label>
                <input type="text" matInput required name="company_number" [(ngModel)]="vendor.company_number" />
                
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Vat Number</mat-label>
                <input type="text" matInput required name="vat_number" [(ngModel)]="vendor.vat_number">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input type="text" matInput required name="first_name" [(ngModel)]="vendor.first_name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput required name="last_name" [(ngModel)]="vendor.last_name">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput required name="email" [(ngModel)]="vendor.email">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="tel" matInput required name="mobile" [(ngModel)]="vendor.mobile">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Secondary Email</mat-label>
                <input type="email" matInput required name="secondary_email" [(ngModel)]="vendor.secondary_email">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Secondary Phone</mat-label>
                <input type="tel" matInput required name="secondary_phone" [(ngModel)]="vendor.secondary_phone">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Landline Number</mat-label>
                <input type="tel" matInput required name="landline_number" [(ngModel)]="vendor.landline_number">
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select required name="status" [(ngModel)]="vendor.status">
                  <mat-option value="new_requested">New Request</mat-option>
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                  <mat-option value="blocked">Blocked</mat-option>
                  <mat-option value="rejected">Rejected</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-12 email-notification">
              <mat-form-field appearance="fill">
                <mat-label>Email Notification</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter Emails">
                  <mat-chip-row *ngFor="let email of EmailList" (removed)="remove(email)" [editable]="true"
                    (edited)="edit(email, $event)" [aria-description]="'press enter to edit ' + email.email">
                    {{email.email}}
                    <button matChipRemove [attr.aria-label]="'remove ' + email.email">x</button>
                  </mat-chip-row>
                  <input placeholder="New email... (Separate using Commas/Enter)" [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)" [(ngModel)]="vendor.newEmail" name="newEmail" />
                </mat-chip-grid>
              </mat-form-field>
            </div>
          </div>
          <div class="separator-row">
            <h4 class="customised-form-heading">Company Registration Address</h4>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Street Address</mat-label>
                <input #registrationStreetAddress type="text" matInput required name="register_address_line1"
                  [(ngModel)]="vendor.register_address_line1">
              </mat-form-field>
            </div>
          </div>
          <div class="row row-cols-md-3">
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>Town/City</mat-label>
                <mat-select required name="register_city_id" [(ngModel)]="vendor.register_city_id">
                  <mat-option [value]="0">None</mat-option>
                  <mat-option *ngFor="let city of cities" [value]="city.id">{{city.city_name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="fill">
                <mat-label>County</mat-label>
                <mat-select #register_state_id required name="register_state_id" [(ngModel)]="vendor.register_state_id" (valueChange)="getCities(register_state_id.value)">
                  <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col">
  
              <mat-form-field appearance="fill">
                <mat-label>Post Code</mat-label>
                <input #registrationPostCode type="text" matInput required name="register_zipcode"
                  [(ngModel)]="vendor.register_zipcode">
              </mat-form-field>
            </div>
          </div>
  
          <div class="separator-row">
            <h4 class="customised-form-heading">Company Trading Address</h4>
            <div class="same_address_check">
              <mat-checkbox (change)="sameAddress($event.checked)" name="sameAddress"
                [(ngModel)]="vendor.sameAddress">Same as Registration Address</mat-checkbox>
            </div>
          </div>
  
          <div class="trading_addr_wrap" *ngIf="sameAddressCheck">
            <div class="row">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Street Address</mat-label>
                  <input #tradingStreetAddress type="text" matInput required name="trading_address_line1"
                    [(ngModel)]="vendor.trading_address_line1">
                </mat-form-field>
              </div>
            </div>
            <div class="row row-cols-md-3">
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>Town/City</mat-label>
                  <mat-select required name="trading_city_id" [(ngModel)]="vendor.trading_city_id">
                    <mat-option [value]="0">None</mat-option>
                    <mat-option *ngFor="let city of cities" [value]="city.id">{{city.city_name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field appearance="fill">
                  <mat-label>County</mat-label>
                  <mat-select #trading_state_id required name="trading_state_id" [(ngModel)]="vendor.trading_state_id" (valueChange)="getCities(trading_state_id.value)">
                    <mat-option *ngFor="let state of states" [value]="state.id">{{state.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col">
  
                <mat-form-field appearance="fill">
                  <mat-label>Post Code</mat-label>
                  <input #tradingPostCode type="text" matInput required name="trading_zipcode"
                    [(ngModel)]="vendor.trading_zipcode">
                </mat-form-field>
              </div>
            </div>
          </div>
  
          <div class="form_footer">
            <p class="form-status">{{formStatus}}</p>
            <button type="submit" class="btn btn-primary loading">Add Merchant</button>
          </div>
        </form>
  
  
      </div>
    </div>
    <div class="modal_backdrop" (click)="modalToggle()"></div>
  </div>