.vendor-products
    { 
    &-wrap {
        border-radius: 14px;
        border: 3px solid #FFF;
        background: #fff;
        box-shadow: 0px 0px 20px 0px rgba(177, 197, 224, 0.10);
        margin-block: 20px 27px;
        padding-block: 22px 20px;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        padding-inline: 20px;
    }
    &-filter-wrap {
        display: flex;
        width: 100%;
        gap:10px;
        padding-inline: 20px;
        padding-block: 13px 20px;
        .data_filter {
            display: flex;
            gap: 10px;
            width: 100%;
        }
        .vendor-products-buttons-grp {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
            width: 100%;
            button{
                color: #6ECB44;
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                padding: 17px 20px;
                border-radius: 5px;
                border: 1px solid #6ECB44;
                background: #FFF;
                width: 100%;
                min-width: 75px;
            }
            .vendor-products-review-mapping-btn{
                width: 100%;              
                a{
                    color: #FFF;
                    min-width: 165px;
                    text-align: center;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 17px 20px;
                    letter-spacing: 0.14px;
                    border-radius: 60px;
                    background: #6ECB44;
                    width: 100%;
                }
            } 
        }
    }
    &-header-text {
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &-vendor-name {
        font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    &-mapped-count {
        text-align: right;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.12px;
    }
    &-mapping-status {
        color: #C96B6B;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.14px;
        background: #F8F9FA;
        margin-inline: -3px;
        padding: 10px;
    }
    &--detail-container {
        padding: 20px;
        border-bottom: 1px solid #E4E6EA;
        margin-inline: -3px;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        .sub-detail-seperator {
            margin-inline: 10px;
            font-size: 12px;
        }
    }
    &-img-wrap {
        max-width: 8%;
        width: 100%;
        img {
            padding: 12px 7px;
            border-radius: 6px;
            background: #F8F8F8;
            border: 1px solid #F8F8F8;
        }
    }
    &-deatil-wrap {
        max-width: 62%;
        width: 100%;
        margin-left:15px;
        margin-right: 10px;
    }
    &-bagges-btn-wrap {
        max-width: 30%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        .selling-status-badge,.map-status-badge {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.12px;
            padding: 3px 12px;
            border-radius: 60px;
            &.selling{
                background: #6ECB44;
            }
            &.mapped{
                background: #D4AE26;
            }
            &.not-selling{
                background:#C96B6B;
            }
            &.unmapped{
                background-color:#478EE2;
            }
          
        }
        .vendor-products-badges-grp {
            display: flex;
            gap: 10px;
        }
    }
    &-price-btn button {
        color: #3E7028;
        text-align: right;
        font-family: Montserrat;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        padding: 0;
        line-height: 14px;
        text-decoration-line: underline;
    }
    &-middle-sub-detail-grp {
        display: flex;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        padding-bottom: 17px;
       

    }

    &-title {
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: #333333;
        padding-bottom: 12px;
    }
    &-id
    {
        padding-bottom: 14px;
        span {
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
            &.vendor-products-id-value{
                font-weight: 500;
            }
    } 
    }
    &-bottom-sub-detail-grp {
        display: flex;
        font-family: Montserrat;
        color: #333333;
        align-items: center;
        span.sub-detail-price-value {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 10px;
        }
        .sub-detail-qty span {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    
    
}

@media screen  and (max-width:992px){
    .vendor-products{
        &-filter-wrap{
        display: flex;
        width: 100%;
        gap: 15px;
        padding-inline: 20px;
        padding-block: 13px 20px;
        flex-direction: column;
        }
     
        &-deatil-wrap{
            max-width: 55%;
        }
        &-middle-sub-detail-grp{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .sub-detail-seperator{
                display: none;
            }
        }
        &--title{
            padding-bottom: 0px;
        }
        &-id{
            padding-bottom: 0;
            span{
                font-size: 12px;
            }
        }
        &-title{
            padding-bottom: 0;
        } 
    }
    
}
@media screen  and (max-width:767px){
    .vendor-products{
        &-filter{
            &-wrap
            {
                flex-direction: column;
                .data_filter{
                    flex-direction: column;
                }
            }
        }
        &-bagges-btn-wrap{
            .vendor-products-badges-grp{
                flex-direction: column;
            }
        }
        &-img-wrap {
            max-width: 16%;
            width: 100%;
        }
        &-bagges-btn-wrap{
            max-width: 28%;
        }
        &-deatil-wrap{
            max-width: 56%;
        }
    }
}
@media screen  and (max-width:492px){
    .vendor-products{
        &-filter{
            &-wrap{
            .vendor-products-buttons-grp{
                flex-direction: column;
            }
         }
        }
        &-img-wrap {
            max-width: 18%;
            width: 100%;
        }
        &-bagges-btn-wrap{
            max-width: 26%;
        }
        &-deatil-wrap{
            max-width: 56%;
        }
        &-title{
            font-size: 13px;
        }
        &-id span{
            font-size: 11px;
        }
        &-middle-sub-detail-grp{
            font-size: 11px;
            padding-bottom: 12px;
        }
    }
    
}