<diV class="container">
    <div class="change-pass-wrap">
        <div class="change-pass-header">
            <a href="#" class="change-pass-back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </a>
            <div class="change-pass-text">Change Password</div>
        </div>
        <div class="change-pass-form-body">
            <div class="form-field">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Current Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput maxlength="16" placeholder="Current Password" required="password" autocomplete="new-password">
                    <mat-icon matSuffix (click)="hide = !hide">
                        <i matSuffix mat-icon-button aria-label="view password">
                            <div class="btn eye-icon  {{hide ? 'active' : ' '}}"></div>
                        </i>    
                    </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>New Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput maxlength="16" placeholder="New Password" required="password" autocomplete="new-password">
                    <mat-icon matSuffix (click)="hide = !hide">
                        <i matSuffix mat-icon-button aria-label="view password">
                            <div class="btn eye-icon  {{hide ? 'active' : ' '}}"></div>
                        </i>    
                    </mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput maxlength="16" placeholder="Confirm Password" required="password" autocomplete="confirm-new-password">
                    <mat-icon matSuffix (click)="hide = !hide">
                        <i matSuffix mat-icon-button aria-label="view password">
                            <div class="btn eye-icon  {{hide ? 'active' : ' '}}"></div>
                        </i>    
                    </mat-icon>
                </mat-form-field>
                

                <button class="btn btn-primary" mat-button color="primary">Change Password</button>
            </div>
        </div>
    </div>
</diV>